* {
    margin: 0px;
    padding: 0px;
  }
  body {
    text-align: center;
  }

.navbar-default {
    border-style: none;
    display: grid;
    margin-top: 5px;
    margin-block-end: 50px;
}


.Home {
    text-align: left;
    font-size:16px;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
}

.clickables {
    text-align: right;
    font-size: 16px;
    margin-right: 25px;
    margin-bottom: 5px;
    margin-top:-25px
}


.res-link, .h-link {
    color: rgb(67, 65, 65);
    text-decoration: none;
}

.res-link:hover {
    color: rgb(16, 96, 176);
    text-decoration: none;
    text-shadow: 0px 10px 15px rgb(50, 126, 202);
}

.h-link:hover {
    text-decoration: none;
    color: rgb(54, 52, 52);
    text-shadow: 0px 10px 15px rgb(109, 106, 106);
}

@media (max-width: 767px) {
    .navbar-default {
        margin-block-end: 5px;
    }
    .navbar li {
      padding-left: 15px;
      text-align: left;
    }
    footer {
        margin-top: 40px;
        margin-left: 10%;
    }
}


footer > .row{
    margin-top: 5%;
    font-size: 17px;
}

.fa-stack, .fa-2x {
    color: #866a7e;
  }

.fa-stack:hover {
    color: #d98ac7;
    text-shadow: 8px 10px 20px #866a7e;
  }

@media only screen and (min-width: 992px) {
    footer {
        margin-top: 12%;
        margin-left: 10%;
    }
  }

@media only screen and (max-width: 993px) {
    .col-md-4 {
        margin-top: -3.5%;
    }
  }