* {
    margin:0; padding:0; text-indent:0;
}

body {
    background-image: url('/img/header3.ico');
    text-align: center;
}

h1 {
    color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 20pt;
}

#table {
    margin-left: 25%;
    margin-right: 25%;
}

#t1 {
    margin-left: 40%;
}

#ul {
    padding-left: 7pt;
    text-align: left; 
    text-decoration: underline;
    text-decoration-thickness: 0.7px;
    text-underline-offset: 9px;
}


p { 
    color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12.5pt; margin:0pt;
}

.a, a { 
    color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12.5pt;
}

h2 { 
    color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12.5pt;
}

.s1 {
    color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12.5pt;
}

.s2 { 
    color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 12.5pt;
}


.s3 { 
    color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12.5pt;
}


.s5 { 
    color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 11.5pt; 
}

li {
    display: block;
}

#l1 {
    padding-left: 0pt;
}

#l1> li>*:first-child:before {
    content: "• "; color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12.5pt;
}

li {
    display: block;
}

#l2 {
    padding-left: 0pt;
}

#l2> li>*:first-child:before {
    content: " "; color: black; font-family:Symbol, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;
}

table, tbody {
    vertical-align: top; overflow: visible;
}

#close-img {
    padding-top: 85px;
    padding-right: 18px;
    width: 40px;
}

.note {
    padding-top: 11%;
  }

  #mask {
    left:0;
    top:0;
    z-index:9000;
    display:none;
    margin-top:-90px;
  }  
  #boxes .window {
    position: absolute;
    left: 0;
    top: 0;
    width: 440px;
    height: 850px;
    display: none;
    z-index: 9999;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    border-color: rgb(95, 85, 92);
  }

  #boxes #dialog {
    width:450px;
    height:200px;
    padding: 10px 10px 10px 10px;
    background-image: url(/img/header3.ico);
    background-position: 20% 20%;
  }
  

@media only screen and (min-width:700px) {
    #boxes {
        padding-left: 25%;
    }

}
